* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body, header {
    background: #171717;
}

.container {
    width: 80%;
    margin: auto;
}
header {
    border-bottom: 1px solid #a5a5a5;
}
header .nav {
    width: 80%; margin: auto; padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
#menu {
    display: flex;
    list-style: none;
    margin-top: 30px;
}
#menu ul {
    display: flex; 
    list-style: none;
}
#menu li {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 50px;
    color:  #a5a5a5;
}

.container {
    padding-top: 50px;
    width: 80%;
    margin: auto;
}
.container h2 {
    color: #a5a5a5;
    border-bottom: 3px solid #ff1f1f;
    margin-bottom: 50px;
}
#form {
    color: #a5a5a5;
    border-radius: 20px;
    border: 1px solid #a5a5a5;
    padding: 50px 100px;
    background: #1e1e1e;
}
#form h3 {
    text-align: center;
}
#form .option {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 40px;
}
.option button {
    background: #1e1e1e;
    color: #a5a5a5;
    padding: 10px;
    box-shadow: none;
    padding: 10px;
    border:1px solid red;
    cursor: pointer;
    border-radius: 10px;
}
.option button:hover {
    box-shadow: 1px 1px red;
}
.option h4 {
    border: 1px solid #a5a5a5;
    padding: 10px;
    border-radius: 10px;
}
.inf {
    display: block;
    margin-bottom: 20px;
}
.inf label {
    display: inline-block;
    width: 30%;
    }
.inf input {
    width: 60%;
    height: 30px;
    background: #1e1e1e;
    border: 1px solid #a5a5a5;
    color: #a5a5a5;
    padding: 5px 5px;
    border-radius: 10px;
}
#desc input {
    height: 50px;
}
.inf select {
    background : #1e1e1e;
    color: #a5a5a5;
    padding: 10px;
    border-radius: 10px;
}
#submit {
    display: block;
    margin: auto;
    background: #1e1e1e;
    color: #a5a5a5;
    padding: 10px;
    box-shadow: none;
    padding: 10px;
    border:1px solid red;
    cursor: pointer;
    border-radius: 10px;
}
#eve {
    display: block;
}
#news {
    display: none;
}
.form-field h3 {
    margin-bottom: 10px;
    text-align: left;
    width: 50%;
    background: red;
}