* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body, header {
    background: #171717;
}

.container {
    width: 80%;
    margin: auto;
}
header {
    border-bottom: 1px solid #a5a5a5;
}
header .nav {
    width: 80%; margin: auto; padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
#menu {
    display: flex;
    list-style: none;
    margin-top: 30px;
}
#menu ul {
    display: flex; 
    list-style: none;
}
#menu li {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 50px;
    color:  #a5a5a5;
}